{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About</h1>
</div>
<p class="lead">On The Anti-Piracy Video Tool</p>
<p>This is the uppcoming application that utilizes the art of <a href="https://en.wikipedia.org/wiki/Steganography">steganography</a> to fight piracy. The idea is to embed user information into a video; certain pixels within videos will get modified for such user data as usernames. This should be a subtle/not noticeable change (ideally the latter).</p>

{% endblock %}
