{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>The Ultimate Anti-Piracy Video Tool</h1>
</div>
<p class="lead">Utilizing the the art of <a href="https://en.wikipedia.org/wiki/Steganography">steganography</a> to fight piracy, this application features a player for videos. However, there is an anti-piracy tool built in. Some user information will be imbed into a video; certain pixels will get modified. Will you notice? Maybe not, but beware if you try to get the video for "personal uses"...</p>

{% endblock %}
