{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1 style="display:inline">Scurvy</h1>  &nbsp;&nbsp;
  <h6 style="display:inline"> The piracy-proof media streaming solution </h6>
</div>
<p class="lead"> Scurvy uses the art of <a href="https://en.wikipedia.org/wiki/Steganography">steganography</a> to thwart pirates. Scurvy encrypts the name and email of the user into their videostream. A separate application continuosly scans The Pirate Bay for videos in Scurvy's database, and if a video from Scurvy is found it automatically sends a "friendly" email to the pirate who posted the content. By going after the producers of pirated content rather than consumers (as current IP based pirate traps go after) Scurvy has the potential to destroy piracy from the root.</p>

{% endblock %}
