{% extends 'layouts/main.html' %}
{% block title %}Videos{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <a href="{{ url_for('watch') }}?video=gangnam_style">
        <img src="/static/img/gangnam_style.jpg" class="img-rounded center-block">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('watch') }}?video=gangnam_style">
        <img src="/static/img/gangnam_style.jpg" class="img-rounded center-block">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('watch') }}?video=gangnam_style">
        <img src="/static/img/gangnam_style.jpg" class="img-rounded center-block">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="{{ url_for('watch') }}?video=gangnam_style">
        <img src="/static/img/gangnam_style.jpg" class="img-rounded center-block">
      </a>
    </div>
    <div class="col-md-4">
      <div class="col-md-4">
        <a href="{{ url_for('watch') }}?video=gangnam_style">
          <img src="/static/img/gangnam_style.jpg" class="img-rounded center-block">
        </a>
      </div>
      <div class="col-md-4">
        <a href="{{ url_for('watch') }}?video=gangnam_style">
          <img src="/static/img/gangnam_style.jpg" class="img-rounded center-block">
        </a>
      </div>
  </div>
</div>

{% endblock %}
