{% extends 'layouts/main.html' %}
{% block title %}Videos{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <a href="{{ url_for('watch') }}?video=gangnam_style">
        <img src="/static/thumbnails/{{ filename }}.png" class="img-rounded center-block">
      </a>
    </div>
    <div class="col-md-4">
      <img src="" class="img-rounded center-block">
    </div>
    <div class="col-md-4">
      <img src="" class="img-rounded center-block">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="" class="img-rounded center-block">
    </div>
    <div class="col-md-4">
      <img src="" class="img-rounded center-block">
    </div>
    <div class="col-md-4">
      <img src="" class="img-rounded center-block">
    </div>
  </div>
</div>

{% endblock %}
