{% extends 'layouts/main.html' %}
{% block title %}Watching{% endblock %}
{% block content %} 

<div class="container-fluid">
  <div class="col-xs-8 col-md-offset-2">

  	<!--
    <video class="video-js" preload="auto" data-setup="{}">
      <source src="/static/{{ username }}_{{ filename }}.avi" type="video/avi">
    </video>
    -->
	<video id='example-video' width=600 height=300 class="video-js vjs-default-skin" controls>
	  <source
	     src="/static/videos/{{ username }}_{{ filename }}.avi"
	     type="video/avi">
	</video>

  </div>
</div>

<script>
var player = videojs('example-video');
player.play();
</script>

{% endblock %}
